body{
    background-color: aquamarine;
    text-align: center;
}
.brown{
    background-color: blue;
}

#gray{
    background-color: blueviolet;
}
.font-gray{
    color: chocolate;
}
.font-gray{
    color: chocolate;
}